<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClsCotarMoedaBLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FachadaWSSGSSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="FachadaWSSGSSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"
                binding="basicHttpBinding" bindingConfiguration="FachadaWSSGSSoapBinding"
                contract="wsCotacao.FachadaWSSGS" name="FachadaWSSGS" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <ClsCotarMoedaBLL.Properties.Settings>
            <setting name="ClsCotarMoedaBLL_br_gov_bcb_www3_FachadaWSSGSService"
                serializeAs="String">
                <value>https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS</value>
            </setting>
        </ClsCotarMoedaBLL.Properties.Settings>
    </applicationSettings>
</configuration>